body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Table styles */
.tableRowColumn {
  padding-left: 0px !important;
}

/* Words list layout */
@media only screen and (min-width: 993px) {
  .wordsPage {
    max-width: 700px;
    margin: 50px auto;
  }
}

@media only screen and (max-width: 993px) {
  .wordsPage {
    margin: 20px auto;
  }
}

@media only screen and (max-height: 670px) {
  .wordsList {
    max-height: 370px;
    overflow: auto;
  }
}

@media only screen and (min-height: 670px) and (max-height: 800px) {
  .wordsList {
    max-height: 450px;
    overflow: auto;
  }
}

@media only screen and (min-height: 800px) {
  .wordsList {
    max-height: 1000px;
    overflow: auto;
  }
}

@media only screen and (max-width: 993px) {
  .translateButton {
    min-width: 100% !important;
  }
}

/* Words translating */
@media only screen and (min-width: 993px) {
  .wordTranslate {
    max-width: 700px;
    margin: 50px auto;
  }
}

@media only screen and (max-width: 993px) {
  .wordTranslate {
    margin: 30px auto;
  }
}

@media only screen and (min-width: 993px) {
  .wordTranslateLastPage {
    max-width: 700px;
    margin: 50px auto;
  }
}

@media only screen and (max-width: 993px) {
  .wordTranslateLastPage {
    margin: 150px auto;
  }
}

/* Override materializeCss for material-ui compatibility */
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 0;
  box-shadow: 0 0 0 0;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea {
  margin: 0 0 0 0;
}

label {
  font-size: 1em;
}

.formPadding {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}

.pagePaper {
  max-width: 750px;
  min-width: 350px;
  margin: 30px auto;
}

.readOnlyTextField span:empty:before {
  content: "\00a0";
}

@media only screen and (min-width: 993px) {
  .pagePaperMedium {
    width: 50%;
  }
}

@media only screen and (min-width: 601px)  {
  .show-on-small-only {
    display: none !important;
  }
}

.pac-container {
  margin-top: -22px;
}

.rbc-addons-dnd.rbc-addons-dnd-is-dragging .rbc-event {
  pointer-events: none;
  opacity: .35;
}
